
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    box-sizing: border-box;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family: Arial, Helvetica; 
    background-color: #e0e0e0;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

.button { 
  -webkit-border-radius: 29;
  -moz-border-radius: 29;
  border-radius: 29px;
  font-family: Courier New;
  color: #212121;
  font-size: 13px;
  background: #03A9F4;
  padding: 9px 20px 10px 20px;
  text-decoration: none;
  margin-top:10px;
  margin-bottom: 10px
}

.button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
input[type=text], input:not([type]) { padding: 0 10px; text-overflow: ellipsis; }
p {margin-left:20px; margin-right:20px}
.divHome{margin-left:30%; margin-right:20%; margin-top:20px}
.bildHeader{float:left; margin-top:7px}
/* Main page structure and masthead style */
#wrapper { max-width: 800px; margin: auto; padding: 30px 10px 10px 10px; }
article { background-color: white; box-shadow: 0 0 12px rgba(0, 0, 0, 0.75); border-radius: 10px; }
header { background: #E64A19; padding: 5px; overflow:auto}
header h1 { text-transform: uppercase; font-weight: normal; color: #FFFFFF; font-size: 20px;  float:right; padding-right:40px}
header h2 { text-transform: uppercase; font-weight: normal; color: #FFFFFF; font-size: 20px; float:right; padding-right:100px }
#summary { text-align: center; padding: 8px 0; }

/* "Add new" form */
#add-item { height: 26px; margin: 8px 0 5px 0; font-size: 1em }
#add-item div { overflow: hidden; }
#add-item button { float: right; margin-left: 10px; padding: 0 10px; height: 100%; border-radius: 4px; }
#new-item-text { width: 100%; height: 26px; border: 1px solid #999; font-size: 1em; border-radius: 4px; }

/* List of items */
#todo-items { padding: 8px; margin: 0px;}
#todo-items li { list-style-type: none; height: 36px; padding: 0px; border-bottom: 1px solid #dadada;  }
.item-complete { float: left; margin: 0px; height: 100%; }
.item-delete { float: right; margin: 5px; height: 26px; }

/* Textboxes in list of items */
#todo-items li div { overflow: hidden; padding: 5px 2px; }
.item-text { width: 100%; height: 26px; line-height: 24px; border: 1px solid transparent; background-color: transparent; }
.item-text:focus, .item-text:hover { border-color: #aaa; background-color: #FFC; }

/* Footer */
footer { text-align: center; font-size: 0.8em; margin-top: 20px; }
footer a { color: #666; display: block; }
#errorlog { color: red; font-weight: bold; padding: 8px; display: inline-block; text-align: left; }

.click-me{
     float: right; 
     margin-left: 10px; 
     padding: 0 10px; 
     height: 100%; 
     border-radius: 4px;
}

/* Palette generated by Material Palette - materialpalette.com/deep-orange/light-blue */

.dark-primary-color    { background: #E64A19; }
.default-primary-color { background: #FF5722; }
.light-primary-color   { background: #FFCCBC; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #03A9F4; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }
